@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Reg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Reg_input {
  width:500px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
